@model HomeWeb.Models.FlatViewModel

@{
    ViewBag.Title = "Flat " + @Model.Flat.Name;
}
@Styles.Render("~/Content/jCarousel")
<div class="mainBreadCrump">
    @Html.ActionLink("Список квартир", "Index", "Flat")
</div>
<br />
<div class="flatName">@Model.Flat.Name</div>

<div class="mainCurrentFlatDiv">
    <div class="currentFlatDescription">
        @Html.Label("Інформація про об'єкт:", new { @class="infoNameFlat"})
        <table>
            <tr>
                <td>Адрес:</td>
                <td>@Model.Flat.Address</td>
            </tr>
            <tr>
                <td>Покупка N:</td>
                <td>@Model.Flat.Id</td>
            </tr>
            <tr>
                <td>Дата покупки:</td>
                <td>@Model.Flat.BuyDate.Value.ToShortDateString()</td>
            </tr>
            <tr>
                <td>Назва комплексу:</td>
                <td>@Model.Flat.ComplexName</td>
            </tr>
            <tr>
                <td>Дата запису:</td>
                <td>@Model.Flat.CreatedDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td>Номер квартири:</td>
                @{
                    string numberFlat = @Model.Flat.NumberFlat.HasValue ? @Model.Flat.NumberFlat.Value.ToString() : string.Empty;
                }
                <td>@numberFlat</td>
            </tr>
            <tr>
                <td>Статус покупки:</td>
                <td>@Model.Flat.Status</td>
            </tr>
        </table>
    </div>
    @* Show photos *@
    <div class="wrapper currentFlatImage">
        <div class="connected-carousels">
            <div class="stage">
                <div class="carousel carousel-stage">
                    <ul>
                        @foreach (string currentImage in Model.Images)
                        {
                            <li><img src=@currentImage width="500" height="500" alt=""></li>
                        }
                    </ul>
                </div>
                <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
                <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
            </div>
            <div class="navigation">
                <a href="#" class="prev prev-navigation">&lsaquo;</a>
                <a href="#" class="next next-navigation">&rsaquo;</a>
                <div class="carousel carousel-navigation">
                    <ul>
                        @foreach (string currentThumbImage in Model.ThumbImages)
                        {
                            <li><img src=@currentThumbImage width="70" height="70" alt=""></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jCarousel")
</div>

