@model HomeWeb.Models.FlatViewModel

@{
    ViewBag.Title = "Flat " + @Model.Flat.Name;
}
@Styles.Render("~/Content/jCarousel")
@Html.ActionLink("The List of flat", "Index", "Flat")
<br />
<h2>@Model.Flat.Name</h2>

<div class="mainCurrentFlatDiv">
    @Model.Flat.Address
    <br />
    @Model.Flat.Id
    <br />
    @Model.Flat.BuyDate
    <br />
    @Model.Flat.ComplexName
    <br />
    @Model.Flat.CreatedDate
    <br />
    @{
        string numberFlat = @Model.Flat.NumberFlat.HasValue ? @Model.Flat.NumberFlat.Value.ToString() : string.Empty;
    }
    <span>@numberFlat</span>
    <br />
    @Model.Flat.Status
    <br />
    @* Show photos *@
    <div class="wrapper">
        <h1>Images</h1>
        <div class="connected-carousels">
            <div class="stage">
                <div class="carousel carousel-stage">
                    <ul>
                        @foreach (string currentImage in Model.Images)
                        {
                            <li><img src=@currentImage width="500" height="500" alt=""></li>
                        }
                    </ul>
                </div>
                <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
                <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
            </div>
            <div class="navigation">
                <a href="#" class="prev prev-navigation">&lsaquo;</a>
                <a href="#" class="next next-navigation">&rsaquo;</a>
                <div class="carousel carousel-navigation">
                    <ul>
                        @foreach (string currentThumbImage in Model.ThumbImages)
                        {
                            <li><img src=@currentThumbImage width="70" height="70" alt=""></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jCarousel")
</div>

