@model HomeWeb.Models.FlatListViewModel

@{
    ViewBag.Title = "Flat List";
}
<h2>@ViewBag.Title</h2>
<div class="mainDiv">
    @{
        for (int i = 0; i < 100; i++)
        {
            <div class="mainFlatDiv">
                @if (Model.Flats.Count > i)
                {
                    var currentFlat = Model.Flats[i];
                    var imgBase64 = Convert.ToBase64String(Model.Images.FirstOrDefault(p => p.FlatId == i + 1).ImageData);

                    <a href="@Url.Action("FlatDetail", "Flat", new {@id = @currentFlat.Id})">
                        <div class="photoDiv">
                            <img src=@string.Format("data:image/jpg;base64,{0}", imgBase64) alt=@currentFlat.Name />
                        </div>
                        <div class="nameDiv">
                            <span class="nameSpan">@currentFlat.Name</span>
                            <span class="addressSpan">@currentFlat.Address</span>
                        </div>
                    </a>
                }
            </div>
        }
    }
</div>

